{% extends "navbar.html" %}
{% block body %}
<table>
    <tr>
        <th>Navn</th>
        <th>Etternavn</th>
        <th>Email</th>
        <th>Bruker_id</th>
        <th>Rolle</th>
    </tr>
    {% for i in range(brukere)%}
    <tr>
        <td>{{bruker_info[i][1]}}</td>
        <td>{{bruker_info[i][2]}}</td>
        <td>{{bruker_info[i][3]}}</td>
        <td>{{bruker_info[i][0]}}</td>
        <td>{{bruker_info[i][5]}}</td>
    </tr>
    {% endfor %}
</table>

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    
    th {
        background-color: #f2f2f2;
    }
</style>
{% endblock %}