{% extends "navbar.html" %}
{% block body %}
    
<form action="/" method="POST" id="side_form">
    <div class="velg_side" id="side1" >Spill-nettside</div>
    <div class="velg_side" id="side2">Bestilling-nettside</div>
    <div class="velg_side" id="side3">BoksLage-nettside</div>
    <input class="hidden" name="side" value="side0" >
</form>  

<style>
    #side_form {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 100vh;
        
    }

    .velg_side {
        background-color: #ffffff;
        align-content: center;
        text-align: center;
        width: 33.33%;
        height : 100vh;
        
    }
    .velg_side:hover {
        background-color: #f1dfbf;
        scale: 1.03;
        transition: background-color 0.5s ease;
        transition: scale 0.5s ease;
        z-index: 1;
        overflow: hidden;
    }
    .hidden {
        display: none;
    }
</style>

{% endblock %}